.seen-product .seen-product-title span {
    background-color: #000000;
}

.seen-product .list-seen-product {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}

.checkout-container {
    margin: 60px 100px 100px 100px;
}

.checkout-container .row-name-detail-product{
    background-color: #000000;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 25px;
}

.checkout-container .row-name-detail-product .name-container h4{
    width: 20%;
    font-size: 1.2rem;
}

.info-checkout .total-product {
    margin-top: 30px;
    padding: 10px 20px;
    border: 2px solid #797979;
    height: fit-content;
}

.total-product-item {
    height: 100px;
}

.img-total-product-item img {
    width: 100px;
    height: 100%;
}

.total-product-detail {
    width: 180px;
    margin-top: 5px;
}

.total-product-detail p {
    margin-bottom: 4px;
}

.total-product-detail button {
    border: none;
    font-weight: 600;
    font-size: .9rem;
}

.total-product-cost {
    transform: translateX(16px);
}

.total-product-cost span{
    font-weight: 600;
}

.item {
    width: 20% !important;
}

.quantity-product input {
    width: 100%;
    user-select: none;
}

.total-product-action {
    display: flex;
    align-items: center;
    padding-left: 50px;

}

.total-product-action button {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
}

.quantity-product {
    margin-top: 30px;
    margin-bottom: 30px;
}

.total-order {
    margin-left: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    border: 2px solid #797979;
}

.total-order .total-order-title h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 26px;
}

.total-order .temporary-content {
    padding-bottom: 18px;
    border-bottom: 2px solid #797979;
}

.total-order .temporary-content span {
    font-weight: 600;
}

.total-order .temporary-content .notice-info {
    font-size: .6rem;
    font-style: italic;
    margin-top: 8px;
}

.total-order .total-order-cost {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.total-order .total-order-cost span:nth-child(2) {
    color: #FF5D64;
}

.total-order button {
    border: 1px solid #FF5D64;
    padding: 5px 60px;
    background-color: #F2886B;
    color: #fff;
}

.total-order button:hover {
    background-color: #fff;
    border: 1px solid #FF5D64;
    color: #FF5D64;
}

.total-product-item .quantity-product span button:hover {
    background-color: #FF5D64;
    color: #fff;
}

.total-product-item .total-product-detail button:hover,
.total-product-item .total-product-action button:hover {
    color: #ea000c;
}

.button-all {
    position: relative;
    color: white;
    background: transparent !important;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #F2886B !important;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    /* font-weight: bold; */
    overflow: hidden;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
}

.button-all > .button-span {
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
}

.button-all:hover .button-span {
    color: black !important;
}

.button-all::after, .button-all::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: #F2886B !important;
    z-index: -1;
}

.button-all::before {
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: scale(1, 1);
    transform-origin: left center;
}

.button-all:hover:before {
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;
    transform: scale(1, 1);
    background: #F2886B !important;
    transition: transform 350ms ease;
}

.button-all::after {
    z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
}

.button-all:hover:before{
    opacity: 1;
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media only screen and (max-width: 1024px) {
    .row-name-detail-product {
        display: none;
    }

    .info-checkout {
        flex-direction: column;
    }

    .info-checkout .total-product {
        width: 100% !important;
    }

    .info-checkout .total-order {
        width: 100% !important;
        margin-left: 0;
    }

    .seen-product .list-seen-product {
        border: none;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .checkout-container {
        margin: 60px 40px 100px 40px;
    }
}