.middle-col .collection-top-item {
    height: 500px;
    padding: .5rem !important;
}

.top-collection {
    height: 650px;
}

.collection-header {
    padding-bottom: 50px;
}

.top-collection .collection-col {
    width: calc(100% * 0.33333);
    height: 100vh;
}

.bottom-collection {
    height: 650px;
}

.bottom-collection .left-col {
    width: calc(100% * 0.66666);
}

.bottom-collection .right-col {
    width: calc(100% * 0.33333);
}

.collection-container {
    padding-top: 30px;
    padding-bottom: 150px;
}

@media only screen and (max-width: 1024px) {
    .collection-content .top-collection {
        height: 800px;
    }

    .collection-content .left-col {
        width: 50%;
    }

    .collection-content .middle-col {
        display: none;
    }

    .collection-content .right-col {
        width: 50%;
    }

    .bottom-collection {
        height: 450px;
    }

    .bottom-collection .left-col {
        display: none;
    }

    .bottom-collection .right-col {
        display: flex;
        width: 100%;
    }

    .bottom-collection .right-col .collection-item {
        height: 100% !important;
    }
}