.find-result-text {
    margin-top: 80px;
    margin-bottom: 80px;
}

.find-result-product {
    margin-left: 200px;
    margin-right: 200px;
}

.test {
    padding: 10px;
}

.find-result {
    margin-bottom: 80px;
}