.signin-signup-form {
    margin: 60px 300px 50px 300px;
}
.signin-signup-form .nav-tabs {
    border: none;
}

.signin-signup-form .nav-item {
    width: 50%;
    display: flex;
    justify-content: center;
}

.signin-signup-form .nav-item button {
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #fff;
    color: #000000 !important;
}

.signin-signup-form .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #000000;
    color: #fff !important;
}

.signin-signup-form .nav-tabs .nav-item:hover button{
    color: #fff !important;
    background-color: #000000;
}

.login-form {
    margin-top: 30px;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border: 2px solid #000000;
}

.login-form label {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.login-form .input-group input{
    width: 100%;
    height: 45px;
    margin-bottom: 22px;
    padding-left: 10px;
    border: none;
    background-color: #f3f3f3;
    border-bottom: 1px solid #646363;
}

.login-form input:focus {
    /* border: none; */
    outline: none;
}

.confirm-btn {
    width: 100%;
}

.confirm-btn button {
    width: 100%;
    padding: 10px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: #F2886B;
    color: #fff;
}

@media only screen and (max-width: 1023px) {
    .signin-signup-form {
        margin: 60px 40px 50px 40px;
    }

    .login-form {
        padding: 20px;
        border: none;
    }
}