@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
    color: #000000;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand {
    font-weight: 600;
}

.nav-text {
    padding-left: 32px;
    padding-right: 32px;
}

.nav-item .nav-link {
    font-weight: 600;
    color: #fff !important;
}

.nav-item:hover .nav-link {
    color: rgba(255,255,255,.75) !important;
    cursor: pointer;
}

.nav-text-center {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.fas {
    font-size: 1.2rem;
}

.sponsor-item {
    user-select: none;
}

.sponsor-item .fas {
    font-size: 1.7rem;
}

.sponsor-item .fas {
    border-radius: 50%;
    background-color: #dcdcdc;
}

.font-weight-bold {
    font-weight: 600;
}

.nav-icon-center {
    padding-left: 10px;
    padding-right: 10px;
}

.rounded-circle{
    width: 5px !important;
    height: 5px !important;
    border-radius: 100% !important;
    margin: 0 10px !important;
}
.carousel-item img {
    height: 700px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-control-prev-icon {
    left: 30px;
    position: absolute;
}

.carousel-control-next-icon {
    right: 30px;
    position: absolute;
}

.row {
    height: 500px;
    margin-left: 0;
    margin-right: 0;
}

.collection-img-container {
    width: 490px;
    height: fit-content;
    position: relative;
}

.collection-img-container img {
    width: 100%;
    height: 100%;
}

.button-container {
    position: absolute;
    width: 90%;
    bottom: 80px;
    visibility: hidden;
    /* z-index: 99; */
    opacity: 0;
    transition-delay: 0.6s;
    transition: 0.6s;
}

.collection-img-container:hover img{
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
    transition: 0.6s;
}

.collection-img-container:hover .button-container {
    visibility: visible;
    bottom: 100px;
    opacity: 1;
    transition-delay: .6s;
    transition: .6s;
}

.button-container button {
    padding: 8px 20px;
    outline: none;
    border: none;
    background-color: #F2886B;
    color: #fff;
    font-weight: bold;
}

.collection-img-container h1 {
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 600;
}

.best-seller .title {
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
}

.best-seller {
    padding-top: 36px;
    margin-top: 60px;
}

.title-best-seller {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 200px 10px 200px;
}

.title-line {
    width: 80%;
    height: 2px;
    display: flex;
    float: left;
    background: #7c7c7c;
}

.title {
    font-weight: bold;
}

.best-seller-product .product-left {
    padding-right: 6rem !important;
}

.best-seller-product {
    height: 690px;
    margin: 24px 100px 0 100px;
}

.best-seller-product .best-seller-img-left-container {
    height: 100%;
}

.best-seller-product .best-seller-img-left-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-container-best {
    width: 100%;
    height: 230px;
    padding: 5px;
}

.img-container-best img {
    width: 100%;
    height: 100%;
}

.img-container-best-right {
    height: 345px;
    object-fit: cover;
}

.new-arrival {
    margin-top: 40px;
    padding-bottom: 110px;
}

.new-arrival .title {
    font-size: 1.8rem;
}

.new-arrival-product-container {
    height: 500px;
}

.new-arrival .product-left, 
.new-arrival .product-right {
    padding: 40px;
}

.new-arrival .new-arrival-product-container .col-4 a:hover {
    color: #F2886B;
}

.hot-sale {
    margin-top: 30px;
}

.hot-sale-title h2 {
    font-weight: 600;
}

.discount-area {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 30px 400px; */
    width: 100%;
    margin-top: 40px;
}

.discount-area .discount-value {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: 1px solid #97B5C0;
    color: #000000;
}

.home-slick {
    margin: 40px 200px 100px 200px;
}

.home-slick-img-container {
    width: 300px;
    /* padding: 10px; */
    margin-left: 10px;
    margin-right: 10px;
}

.home-slick-img-container:hover img {
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
    z-index: 99 !important;
}

.home-slick .home-slick-img-container img {
    height: 100%;
    width: 100%;
}

.slick-next {
    right: -30px;
}

.slick-prev {
    left: -50px;
    /* z-index: 99; */
}

.slick-prev:before, 
.slick-next:before {
    color: #afa1a1;
    font-size: 40px;
}

.information {
    padding: 100px 0px;
    background-color: #000000;
}

.information h2 {
    color: #fff;
    font-weight: 600;
    padding-bottom: 40px;
    font-size: 1.6rem;
}

.information .email-form {
    height: 50px;
}

.information input {
    width: 400px;
    height: 70%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 20px;
}

.information input:focus {
    border: none;
    outline: none;
}

.information .send-email-btn {
    height: 70%;
    width: 40px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.information .send-email-btn:hover {
    background-color: #F2886B;
}

.send-email-btn img {
    height: 100%;
    width: 50%;
}

.detail-info {
    margin-top: 100px;
    margin-bottom: 150px;
}

.detail-info .brand-name {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.detail-info p {
    margin-bottom: 0;
    font-size: 1.4rem;
}

.footer {
    margin-left: 40px;
    margin-right: 40px;
}

.footer h4 {
    font-size: 1.4rem;
    font-weight: 600;
}

.footer ul {
    padding-left: 5px;
}

.footer li {
    list-style-type: none;
}

.footer ul li a {
    font-size: 1.1rem;
}

.footer .middle-col .fab {
    font-size: 1.6rem;
}

.copyright {
    background-color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    padding: 15px 0px;
}

.payment-method {
    width: 50px;
    height: 50px;
}

.vnpay {
    height: 40px;
    width: 120px !important;
}

.discount-value:hover {
    border: none;
    background-color: #F2886B;
    color: #fff;
}

#searchBar {
    height: 30px;
    /* padding-left: 10px; */
    display: none;
    position: absolute;
    right: 135px;
}
#searchBar input,
#searchBar input:focus {
    outline: none;
    height: 100%;
    padding-left: 10px;
}

.searchBar {
    height: 32px;
    display: flex;
}

.searchBar button {
    border: none;
    background-color: #F2886B;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: .9rem;
    height: 100%;
}

/* Mobile nav */
.navbar-btn {
    width: 28px;
    height: 28px;
    color: #fff;
    display: none;
}

.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none; 
    z-index: 1999;
    animation: fadeIn linear 0.2s;
}

.nav-input {
    display: none;
}

.nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    z-index: 9999;
    /* transform: translateX(100%); */
    opacity: 0;
    transition: all linear 0.2s;
    display: none !important;
}

.nav-mobile-list {
    margin-top: 70px;
    list-style-type: none;
    width: 100%;
}

.nav-mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

.nav__mobile-close {
    /* font-size: 1.6rem; */
    color: #666;
    position: absolute;
    top: 1rem;
    left: 15rem;
}

.nav__mobile-close i {
    font-size: 1.6rem;
}

.nav-input:checked ~ .nav-overlay {
    display: block;
}

.nav-input:checked ~ .nav-mobile {
    transform: translateX(0%);
    opacity: 1;
}

.footer-container .middle-col .icons-footer .fa-facebook-square:hover {
    cursor: pointer;
    color: rgb(57, 76, 171);
}

.footer-container .middle-col .icons-footer .fa-instagram:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: #f3f3f3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  .sidebar {
      display: none;
  }
  
@media only screen and (max-width: 1395px) {
    .nav-mobile {
        display: block !important;
    }

    .best-seller-product .product-left {
        padding-right: 2rem !important;
    }

    .navbar-btn {
        background-color: transparent;
    }

    .sidebar {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {
    .product-navbar {
        display: none !important;
    }

    .navbar-expand-lg {
        justify-content: space-between;
    }

    .navbar-container {
        display: none;
    }

    .navbar-btn {
        display: block;
    }

    .icon-navbar {
        flex-direction: row;
    }

    .icon-navbar .navbar-nav {
        margin-right: 20px;
        flex-direction: row;
        width: 90px;
        justify-content: space-between;
    }

    .sponsor-content {
        display: flex;
        flex-flow: column-reverse;
    }

    .sponsor {
        padding-top: 1rem;
    }

    .sponsor .sponsor-item {
        flex-direction: column !important;
        text-align: center;
        width: 25%;
        padding-left: 0px !important;
    }

    .sponsor .sponsor-item p:nth-child(1) {
        font-size: .8rem;
    }

    .sponsor .sponsor-item p:nth-child(2) {
        font-size: .6rem;
    }

    .carousel-item img {
        height: 500px;
    }

    .new-arrival {
        margin-top: 20px;
        padding-bottom: 10px !important;
    }

    .new-arrival .title-best-seller {
        margin: 10px 50px;
        border-top: 2px solid #7c7c7c;
        padding-top: 20px;
    }

    .new-arrival .title-best-seller .title-line {
        display: none;
    }

    .new-arrival .title-best-seller .title {
        width: 100%;
    }

    .new-arrival .new-arrival-product-container {
        display: none;
        flex-direction: column;
        height: fit-content;
        padding-top: 0 !important;
    }

    .new-arrival .new-arrival-product-container .col-4 {
        flex: none !important;
        width: 100% !important;
    }

    .new-arrival .new-arrival-product-container .product-item .img-container-arrival {
        height: 300px !important;
    }

    .new-arrival .new-arrival-product-container .product-item .title-item-arrival h3 {
        margin: 20px 300px;
        padding: 10px 0 !important;
        border-top: 1px solid #7c7c7c;
        border-bottom: 1px solid #7c7c7c;
        white-space: nowrap;
    }

    .new-arrival .product-left, .new-arrival .product-right {
        padding: 0;
    }

    .collection-container {
        display: block;
        height: fit-content;
    }

    .button-container {
        bottom: 70px;
        width: 97%;
    }

    .collection-img-container {
        width: fit-content;
    }

    .collection-container .collection-img-container:nth-child(1) {
        padding-left: 1rem !important;
    }

    .collection-container .collection-img-container:nth-child(3) {
        padding-right: 1rem !important;
    }

    .collection-img-container:hover .button-container {
        bottom: 100px;
    }

    .best-seller {
        padding-top: 0px;
    }

    .best-seller .title-best-seller {
        padding-top: 30px;
        border-top: 2px solid #7c7c7c;
        margin: 0 40px 10px 40px;
    }
    
    .best-seller .title-best-seller .title-line {
        display: none;
    }

    .best-seller .best-seller-product .left-col,
    .best-seller .best-seller-product .right-col {
        display: none;
    }

    .best-seller .best-seller-product {
        margin: 24px 150px 0 150px;
    }

    .home-slick {
        margin: 40px 50px 20px 50px;
    }

    .information .email-form {
        padding: 0 30px;
    }

    .home-slick button {
        display: none !important;
    }

    .footer {
        margin-left: 100px;
        margin-right: 100px;
    }

    .footer {
        /* display: block !important; */
        margin-bottom: 40px;
        flex-direction: column;
    }

    .footer .col {
        margin-bottom: 30px !important;
    }

    #searchBar {
        position: static;
        width: 100%;
    }

    .searchBar .d-flex #searchInput {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .new-arrival .new-arrival-product-container .product-item .title-item-arrival h3 {
        margin: 20px 250px;
        white-space: nowrap;
    }

    .best-seller .best-seller-product {
        margin: 24px 60px 0 60px;
    }
}

@media only screen and (max-width: 686px) {
    .new-arrival .new-arrival-product-container .product-item .title-item-arrival h3 {
        margin: 20px 100px;
        white-space: nowrap;
    }

    .best-seller .best-seller-product {
        margin: 24px 4px 0 4px;
    }

    .carousel-item img {
        height: 300px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}