.user-info {
    margin: 50px 100px;
}


.general-info-col {
    border: 1px solid #000000;
    padding: 20px 10px;
    position: relative;
}

.avatar-user {
    margin-bottom: 30px;
    top: 20px;
}

.avatar-img {
    height: 200px;
    width: 200px;
    background-color: #000000;
    border-radius: 50%;
    margin-bottom: 30px;
}

.general-info-col span {
    font-size: 1.6rem;
    font-weight: 600;
}

.direct-link-list {
    list-style-type: none;
    padding-left: 1rem;
    bottom: 20px;
}

.direct-link-item {
    padding-bottom: 5px;
    padding-top: 5px;
}

.info-direct-link .direct-link-list .direct-link-item a {
    font-size: 1.3rem;
}

.change-user-profile {
    padding: 10px 10px 30px 10px;
    border: 1px solid #000000;
    /* display: none; */
}

.user-profile-title {
    padding-bottom: 10px;
    border-bottom: 2px solid #000000;
    margin: 0px 30px 10px 30px;
}

.user-profile-form {
    margin-top: 15px;
    margin-left: 30px;
}

.user-profile-form input {
    border: 1px solid #000000;
    border-radius: 0%;
    height: 32px;
}

.update-btn button {
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #F2886B;
    color: #fff;
    border: 1px solid #F2886B;
}

.update-btn button:hover {
    background-color: #fff;
    color: #F2886B;
    border: 1px solid #F2886B;
}

.change-password-section {
    padding: 15px 20px;
    border: 1px solid #000000;
    display: none;
}

.change-password-section .change-password-title {
    border-bottom: 2px solid #000000;
    padding-bottom: 20px;
}

.change-password-form {
    padding-top: 20px;
}

.change-password-form .mini-form {
    width: 50%;
}

.change-password-form .mini-form input {
    border: 1px solid #000000;
    border-radius: 0%;
    height: 32px;
}

.order-history {
    margin-top: 3rem;
    padding: 15px 20px;
    border: 1px solid #000000;
}

.order-history-title {
    padding-bottom: 10px;
    border-bottom: 2px solid #000000;
}

.order-history-detail {
    padding-top: 20px;
}

.info-direct-link .direct-link-list .direct-link-item:hover a{
    cursor: pointer;
    color: #F2886B;
}

